<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 && params[:category].present? %>
  <h2>No books available for this category </h2>
<% else %>

  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-3">
      <%= link_to image_tag(book.avatar.url(:book_index)), book_path(book), class: "book" %>
      </div>
    <%end%>
  </div>
<% end %>





